@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-scroll {
  animation: scroll 60s linear infinite;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


@theme {
  --font-sans: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}